*{
    margin:0;
}


body{
    margin:0 auto;
    width: 100%;
    border: 4px solid pink;
    max-width: 1412px;
    padding-right: 30px;
    height: auto;
}


header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2px solid green;
    height: 79px;
    max-width: 1328.91px;   
}


/*****NAVIGATION*****/

.hebergement-ul{
    display:flex;
    width: 200px;
    padding-right:30px;
    padding-top: 20px;
    height:50px;
    border:2px solid blue;
    justify-content: space-between;margin-top: 0px;
    list-style-type:none;   
}

#hebergement-li{
    color: #0065FC;
    width:70%;
}

li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    position:relative;
}

.hebergement-ul li a:hover{ /*pour changer la couleur des ul-li au survol*/
    color:blue;
}

li:hover:before { /*ajoute une pseudo classe pour la barre de survol*/
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: -20px; /* Ajuste la position verticale de la barre */
    background-color: #0065FC;
}


.logo-small{
    margin: 30px 0px 0px 30px;
    width: 61.09px;
    height:19px;
}

h1{    
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    margin: 40px 0px 15px 50px;
}

p{    
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    margin: 0px 0px 30px 50px;
}

form {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 377px;
    height: 49px;
    margin: 10px 0px 20px 50px;
}

.fa-location-dot{
    padding:18px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

button{
    border-radius: 0 15px 15px 0;
    width:132px;
    background-color: #0065FC;
    border:none;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    /**j'ai retiré la position:relative**/
}

.fa-solid.fa-magnifying-glass{
    display:none;
}

input{
    border: 1px solid #f2f2f2;
    background-color: #FFFFFF;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color:black;
    width: 190px;
}

/*****FILTRES*****/

#titre-filtres{
    margin-left: 30px;
    padding-right: 0;
    border:2px solid green;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

#filtres-info{
    display:flex;
    flex-direction: row;
    gap:10px;
    margin: 30px 0px 20px 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    border:2px solid black
}

.container-filtres{
    display:flex;
}

#titre-filtres{
    display:flex;
    align-items: center;
    gap:100px;  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
}

#filtres-info .icone:hover {
    background-color:#DEEBFF;
}

.icone{
    border: 2px solid red;
    padding:15px;
    border-radius: 25px;
}

.icone:hover{
    opacity: 0.8;
    transition: opacity 0.4s ease-in-out;
}    

.icone-box{
    display:flex;
    gap:15px;
}

.fa-solid.fa-money-bill-wave.icone_filtres,
.fa-solid.fa-child-reaching.icone_filtres,
.fa-solid.fa-heart.icone_filtres,
.fa-solid.fa-fire
{
    color:#0065FC;
}

#info{
    display:flex;
    margin: 40px 0px 20px 50px;
    gap:10px;
    border:2px solid blue;
    margin-bottom: 28px;
}

.fas.fa-info{
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    padding:5px 10px 5px 10px; 
    justify-content: center;
    color: #0065FC;
}

.info-logements{   
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    padding-top:6px;
}

main{
    display:flex;
    flex-direction:row ;
    border:solid green 2px;
    width: 100%;
}

/*******HEBERGEMENTS********/

.container-cards{
    display:flex;
    border:5px solid green;
    width:100%;
    max-width: 811px;
    justify-content: center;
    gap:10px;
    margin: 70px 0px -60px 0px;  
}

.marseille-title{
    position: absolute;
    top: 18px;
    left: 28px;
    margin: 0;
    padding: 0;
}

.hebergements{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid yellow;
    width:100%;
    max-width:871px;
    position:relative;
    height: 614px;
    background-color: #f2f2f2;
    margin-left:30px;
    border-radius: 15px;
    padding:20px;
}

#afficher-plus{
    display:flex;
    margin-top:100px;
    margin-right:0px;
    width: 100%;
    margin-left:5px;
    border:2px solid blue;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
}

.hebergements-cards1 :hover{
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out; 
}

.marseille-title{
    margin-left: 20px;       
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
}

.hebergements-cards1{
    height: 207.25px;
    flex-basis: 30%;
    border: 5px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-top: 10px;
    border: 2px solid pink;
}

.card-txt1{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin-top:0px;
}

.euro{
    font-weight: 800;
}


.card-rating{
    display: flex;
    margin-top: -32px;
    border:2px solid red;
}

.card-rating .fa-xs .fa-solid .fa-star {
    width: 15px;
    height: 15px;
    color: yellow;
    display: inline-block;
    position:relative;
}

.card-rating .fa-solid{
    color:#0065FC;
    width: 14.29px;
    height:13.25px;
    margin-top: 15px;
}

.card-rating .neutral-star{
    color:#f2f2f2;
}

.img-hebergement{
    width: 100%;
    height: 124px;
    min-height: 100px;
    max-height: 124px;
    object-fit: cover;
    object-position: center;
    margin-bottom: -10px; 
    border-radius: 20px 20px 0 0;
}

.card-title{
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Raleway';
}

.card-subtitle{
    margin-top:5px;
    font-family: 'Raleway';
    font-size:0.875;
    border:2px solid blue;
    margin-left: 0px;
    position:relative;
}


/****** Populaires ***********/

.container-populaires{
    border:6px solid yellow;
    width: auto;
    padding:15px; /*****************/
  
}

.container-populaires:hover{
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.card-txt{
    display:flex;
    flex-direction: column;
    padding-left: 10px; 
}

.populaires {
    width: 45%;
    display:flex;
    border-radius: 20px;
    border:2px solid red;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-left: 27px;
    padding-right: 20px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
}

.section-title-pop{
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    margin-top:20px;
}

.card-content{
    display:flex;
    height: 120px;
    margin-top:10px;
}

.card{
    display: flex;
    flex-direction: row;
    width:99%;
    min-width:160px;
    border:4px solid white;
    margin-left:7px;
    height: 146px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.img-populaires{
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.card-rating2 {
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left:10px;
    height: 50px;
    color: #0065FC;
    padding-bottom:10px;
    border:2px solid yellow;
}

.card-rating2 .neutral-star {
    color: #f2f2f2;
}

/*****ACTIVITES*****/


.activities{
    margin:0 auto;
    border :solid 2px blue;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width:1325px;
    margin-left:57px;
    margin-top:30px;
    gap:20px;
}

.activities-container{
    display:flex;
    flex-direction: column;
    border:2px solid red;
    width:300.5px;
    height:439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.activities-container :hover{
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.img-activities{
    width: 100%;
    height:380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


#activites-loisir{
    margin-left: 74px;   
    margin-top: 65px; 
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
}

a{
    text-decoration: none;
    color:#000000;
}

.activities-name{
    font-size: 1em;
    font-family: 'Raleway';
    margin-left: 15px;
    margin-top:15px;
}

/******FOOTER*******/

footer{
    background-color: #f2f2f2;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 23px;
    height: 100%;
}

.container-liste-pdp{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid green;
    width: 100%
}


.pied-de-page{
   display:flex;
   flex-direction: row;
}

.ul-footer{
    display: flex;
    flex-direction: column;
    padding-left:15px;
}

.ol-title{
    padding:0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.ol-footer{
    font-size: 20px;
    text-align: left;
    padding:0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    body{
        width: 100%;
        
    }

    header{
        height: 79px;
    }
    
    main{
        display: flex;
        flex-direction: column;
        margin-left:-22px;
        padding-bottom:30px;
    }

     /*****BARRE DE LOCALISATION*****/

    .fa-solid.fa-magnifying-glass{
        display:none;
    }

    /*****FILTRES*****/

    .container-filtres{
        display:flex;
        flex-direction: column;
    }

    #titre-filtres
    {
        margin-left:25px;
    }

    #filtres-info{
        margin-left:30px;
    }

    #info{
        margin-left: 30px;
    }

    /*****HEBERGEMENTS*****/

    .hebergements{
        padding-right:22px;
        width:100%;
    }

    .container-cards{
        width:100%;
        max-width:915px;
        height:230px;
        gap:20px;
        margin-left:-15px;
    }
    
    .hebergements-cards1{
        display:flex;
        width:auto;
        flex-direction: column;
    }

    .card-content{
        height: 10%;
    }

    .img-hebergement{
        height: 190px;
        padding-top: 0px;
        object-fit: cover;
    }

    .container-cards{
        display:flex;
        flex-direction: row;
    }

    /*****POPULAIRES*****/
    
    .populaires{
        display:flex;
        width:100%;
        max-width: 900px;
        height: 252px;
        margin-top: 50px;
        border:solid yellow 2px;
        flex-direction: column;
        margin-left: 24px;
    }

    .container-populaires{
        display:flex;
        flex-direction: row;
        width:90%;
        height: 252px;
        position: relative;
        border:2px solid green;
    }
    
    .cards {
        display: flex;
        flex-direction: row;
        width: 274.69;
        max-width:100%; 
        justify-content: space-between;  
    }

    .card-rating2{
        position:absolute;
        top:100px;
    }

    .pop{
        display:flex;
        flex-direction: row;
        width:100%;
        margin-left: 0px;
        justify-content: left;
        gap:00px;
        border:2px solid black;
    }

    /*.populaires-cards .card-title {
        
    font-family: 'Times New Roman', Times, serif;

    } le changement de police ne reagit pas. essayer de comprendre pourquoi***/
    

    /*****ACTIVITES*****/

    .activities{
        max-width: 900px;
        justify-content: center;
        margin-left: 20px;
        padding-left: 0px;
    }

    .activities-container{
        display:flex;
        width:193.5px;
        height:270px;
        margin-left:0px;
        margin-right: 0px;
    }

    .img-activities{
        height:200px;
    }

    /*****FOOTER*****/

    footer{
        max-width: 844px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {


    body{
        width: 379px;
        padding:20px;
        display:flex;
        flex-direction: column;
        height: 4127.52px;
    }

    header{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    nav {
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width:379px;
        margin:0px;
        height: 150px;
    }

    .hebergement-ul{
        width: 420px;
        height:40px;
        text-align: center;
        padding:0px;
        outline:none;
        
    }

    

    .hebergement-ul li:hover{
        border-bottom: 5px solid red;
        width: 50px;
       width:100%;
       
    }

    ul{
        width:379px;  
    }

    li{
        width:100%;
    }  

    .hebergement-ul li:hover:before {
        display: none;
    }
      
    .logo-small{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 156.96px;
    }

    /*****barre de localisation*****/

    form{
        width:340px;
        position:relative;
        margin:20px;
    }

    input{
        width:286px;
    }

    .fa-solid .fa-location-dot
    {
        width: 50px;
        height: 49px;
    }

    button{
        width: 49px;
        height: 49px;
        border-radius: 15px;
        margin-left: -10px;
    }
    
    .research-button{
        display:none;
        
    }

    .fa-solid.fa-magnifying-glass{
       display:block;
       position:absolute;
       left:310px;
       top:18px; 
       color: black;
    }
    
    
    /*****FILTRES*****/


    #titre-filtres{
        margin-left: 0px;
    }

    #filtres-info{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        width: 415px;
        height:130px;
        margin-left: -20px;
        justify-content: center;
    }

    .icone{
      width: 145px;  
      height: 16px;
      margin:4px;
    }

    main{
        display:flex;
        flex-direction: column-reverse;
        margin-left:-20px;
    }

    /*****POPULAIRES*****/

.container-populaires{
    height:140px;
    width: 396px;
    padding-left:50px;
    margin-left:-50px;
    }

    .populaires{
        display:flex;
        flex-direction:column;
        height: 590px;
        width: 396px;
        border-radius: 0px 0px 0px 0px;
    }

    .pop{
        display:flex;
        flex-direction:column;
    }
    
    .card{
        width:335px;
        max-width: 335px;
        height: 146px;
        margin: 20px;
        gap:10px;
    }

    /*****HEBERGEMENTS*****/

    .hebergements{
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
        width:100%;
        height: 1470px;
        margin-top: 50px;
        padding-bottom:60px;
        padding-left:0px;
        padding-right:22px;
        background-color: #FFFFFF;
    }

    #afficher-plus{
        position:absolute;
        top:1430px;
        right: 0px;
        width:90%;
    }
         
      .hebergements-cards1{
        display:flex;
        width:335px;
        margin-left: 5px;
      }  
         
    .hebergements-cards{

        display:flex;
        flex-direction: column;
        width:100%;
    }
    
    .container-cards{
        flex-direction: column;
        width: 100%;
        margin-top: 0px;  
    }
    .card-content{
        width:100%;
    }

    .img-hebergement{
        display:flex;
        width:100%;
    }

    .marseille-title{
        margin-bottom:0px;
    }


    /*****ACTIVITES*****/

    .activities{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin-top:100px;
    } 
    

    .activities-container{
        display:flex;
        width:315px;
        height: 200px;
    }

    .img-activities{
        width: 315px;
        height: 141px;
    }
    

    /*****FOOTER*****/
    footer{
        display:flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .pied-de-page{
        display:flex;
        flex-direction: column;
    }
}